# Compiled class file
**/*.class
**/.gradle/
**/*.jar
project/bin/
#.project
.classpath
.vscode/
.class
.jar
bin/
build/
**/.vscode
.gradle/


# FROM: https://www.jamescoyle.net/how-to/supporting-scripts/3027-gitignore-file-for-eclipse-projects
# Java related
target/**
*.jar
*.war
*.ear
*.class

# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
.externalToolBuilders/
*.launch
*.code-workspace
.vscode/settings.json
.gradle/7.6/executionHistory/executionHistory.bin
.gradle/7.6/executionHistory/executionHistory.lock
